@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

:root {
    --vermelho_claro: #ff0000;
    --vermelho_médio: #8D0000;
    --vermelho_escuro: #4D0000;
    --preto: #080808;
    --cinza_fundo: #161616;
    --cinza_footer: #444444;
    --branco: #f0f0f0;

    --kanjis: 'Reggae One';
    --Poppins: 'Poppins';
    --Kanit: 'Kanit';
    --Oswald: 'Oswald'
}

@media screen and (min-width: 1100px) {

    /* !Configurações de posicionamento, tamanhos e paddings das caixas maiores e de divisórias: header, section, footer e hr (footer não recebe max-width pois seu fundo deve ter o tamanho da página inteira) */ 

    html {
        width: 100vw;
    }

    section {
        max-width: 1000px;
        padding: 0px;
    }

    section .header {
        flex-direction: row;
        gap: 40px;
        padding-bottom: 40px;
    }

    section .header h2 {
        font-family: var(--Oswald);
        font-size: 2.5rem;
    }

    section .header h3 {
        font-family: var(--Poppins);
        font-size: 1.5rem;
    }

    /* !Configuirações dos demais elementos */
    /* relativas à header */
    header {
        color: rgb(255, 255, 255);
        text-decoration: none;
        
        max-width: 1000px;
        position: sticky;
        top: 0;
        z-index: 50;

        margin: 20px auto 0;
        padding: 10px 0;
    }

    
    header::before {
        content: "";
        width: 100vw;
        height: 100%;
        background-color: #000000a8;
        backdrop-filter: blur(10px);
        position: absolute;
        z-index: 30;
        left: -180px;
    }

    header .logo {
        max-width: 60px;
        z-index: 40;
    }

    header .menu-itens {
        display: block;
        position: sticky;

        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
 
        height: 60px;
        width: 530px;
        z-index: 40;
    }

    .menu-itens a {
        font-size: 1.5rem;
        font-family: "Oswald";
    }

    header .menu-hambúrguer {
        display: none;
    }

    .menu-itens li {
        position: relative;
    }

    .menu-itens li::after {
        position: absolute;
        content: "";
        bottom: -5px;
        left: 0;
        z-index: 30;

        background-color: #990000;
        border-radius: 2px;

        height: 2px;
        width: 0;

        transition: 0.3s ease-in-out;
    }

    .menu-itens li:hover::after {
        width: 100%;
        transition: 0.3s ease-in-out;
    }

    /* Relativas ao hero */
    .hero {
        flex-direction: row;
        justify-content: space-between;
        padding: 0px;
        border-bottom: solid 1px red;
    }

    
    .hero img {
        max-width: 350px;
    }

    .hero .textos {
        background-image: none;
        border: none;
        width: fit-content;
        padding: 0;
    }

    .hero .nome-academia {
        gap: 0.6vw;

        font-size: 3.5rem;
        line-height: 2rem;
    }

    .hero .textos h2 {
        font-size: 2rem;
    }

    .hero .kanji {
        position: static;
        display: flex;
        flex-direction: column;
    }

    .hero .kanji span 
    {
        font-size: 6rem;
    }

    /* Relativas à section "sobre" */

    #sobre .container {
        flex-direction: row;
    }

    #sobre .container_item {
        background-color: #0a0a0a52;
        backdrop-filter: blur(10px);

        border: solid 1px #c7c7c7;
        border-radius: 10px;

        max-width: 32%;
        padding: 1% 2%;

        align-items: start;
        gap: 0;
        transition: 0.5s;
    }

    #sobre .container_item:hover {
        scale: 1.09;
        transition: 0.5s;
        cursor: pointer;
    }   

    .item_ícone {
        width: 20%;
        padding-bottom: 2%;
    }

    #sobre .container_item h2 {
        font-family: var(--Poppins);
        font-size: 1.1rem;
    }

    #sobre .container_item p {
        font-family: var(--Poppins);
        font-size: 1rem;
        font-weight: 300;
        text-align: justify;
        line-height: normal;
    }

    /* Relativas à section "história" */
    #história .header {
        font-size: 3rem;
        padding-top: 40px;
        padding-bottom: 0px;
    }

    #história .conteúdo h4 {
        text-align: left;
        width: 100%;
        font-size: 2em;
    }

    #história .conteúdo {
        flex-direction: column;
        margin-bottom: 150px;
        padding: 10px 20px 20px;
        margin: 40px 0;
        border-left: solid 3px var(--vermelho_médio);
        border-radius: 10px;
    }

    #história article {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 30px;
    }

    #história p {
        width: 50%;
        font-size: 1rem;
    }

    .conteúdo img {
        height: 250px;
        border-right: solid 3px var(--vermelho_médio);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        object-fit: cover;
        width: auto;
        margin: 0;
    }
    /* Relativas à section "modalidades" */
    #modalidades .container-mb {
        display: none;
    }

    #modalidades .container-dt {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 40px;

        height: 1000px;
        width: 80%;
        margin: auto;

        position: relative;
    }

    .container-dt .item {
        border-right: solid 4px var(--vermelho_médio);
        border-left: solid 4px var(--vermelho_médio);
        border-radius: 10px;

        display: flex;
        justify-content: space-between;

        transition: 0.3s;

        position: relative;
        overflow: hidden;

        cursor: pointer;
    }

    .container-dt .item:hover {
        scale: 1.1;
        transition: 0.3s;
        box-shadow: none;
    }

    .container-dt .esquerda {
       flex-direction: row-reverse;
    }

    .container-dt img {
        object-fit: contain;
        width: 50%;
        height: 120%;
    }

    .container-dt .item-título {
        display: block;
        text-align: center;
        margin: auto;
    }

    .container-dt h3 {
        font-size: 2.5em;
        font-family: var(--Oswald);
        text-align: center;
        color: var(--branco);
    }

    #modalidades  .conteúdo p {
        text-align: justify;
        font-size: 1.2em;
        font-family: var(--Poppins);
        line-height: 25px;
    }

    .container-dt .conteúdo {
        display: flex;
        align-items: center;
        justify-items: center;
        position: absolute;
        top: 100%;

        width: 50%;
        height: 100%;
        padding: 0 2%;

        transition: 0.3s;
    }

    .container-dt .conteúdo-direita {
        right: 0;
    }

    .container-dt .conteúdo-esquerda {
        left: 0;
    }

    .container-dt .item:hover .conteúdo {
        top: 0;
        background-color: #000000;
        transition: 0.5s;
    }

    /* Relativas à section "inscrição" */
    #inscrição {
        background-image: url(../mídia/imagens/fundo_jiu-jitsu.png);
        background-repeat: no-repeat;
        background-position: 0% 44%;
        background-size: 100%;
        max-width: 90vw;
        padding-bottom: 10px;
        margin-bottom: 0px;
    }

    #inscrição .header {
        padding-bottom: 20px;
    }

    #inscrição .conteúdo {
        margin-top: 0;
        padding-top: 0;
        background-image: none;
        background-color: #140000ea;
        backdrop-filter: blur(2px);
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        column-gap: 40px;
        padding: 20px 30px;
        border-right: solid 4px var(--vermelho_médio);
        border-left: solid 4px var(--vermelho_médio);
        border-bottom: none;
        border-radius: 10px;
        max-width: 1000px;

    }

    .conteúdo h3 {
        font-size: 1.5em;
        text-align: center;
        padding-left: 0;
    }

    #inscrição .container_aulas {
        display: flex;
        flex-direction: column;
        flex-direction: row;
        justify-content: flex-start;

        row-gap: 10px;
        height: fit-content;
        padding: 10px 20px;
        border-left: solid 4px var(--vermelho_claro);
        border-right: solid 4px var(--vermelho_claro);
        border-radius: 10px;
        margin: 0;
    }

    #inscrição .aulas_item {
        display: flex;
        flex-direction: column;
        width: 240px;
        margin: auto;
    }

    .aulas_item h4 {
        font-size: 1.5em;
    }

    .aulas_item li {
        font-size: 1.2em;
    }

    .formulário {
        display: flex;
        align-items: center;
    
        margin-top: 2vw;
        padding: 0px 0;
        margin-top: 0;

        border-radius: 10px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        border-radius: 10px;
        background-image: none;
 
        width: 100%;
        row-gap: 1px;
    }

    form div {
        width: 100%;
        padding: 4px 8px;
        border-radius: 4px;
    }

    form label {
        font-size: 1.5em;
    }

    form input {
        font-size: 1em;
        color: #000000;
        width: 40%;
        border: none;
    }

    form select {
        font-size: 1rem;
    }

    form option {
        color: var(--preto);
        font-size: 0.5em;
    }

    form label, form input {
        display: block;
        font-family: var(--Poppins);
    }

    .dias-pratica {
        align-items: center;
    }

    .dias-pratica .container-dias {
        padding-top: 20px;
        width: 100%;
    }

    .container-dias label {
        font-size: 1.2em;
    }

    .container-dias input {
        width: 50px;
        height: 50px;
    }

    .container-dias input:checked::after {
        font-size: 2.5em;
    }

    form button {
        font-size: 2em;
        margin-top: 40px;
    }

    .formulário img {
        height: 100%;
        width: 40%;
        object-fit: cover;
        border: none;
    }

    /* Configurações relativas ao footer */
    footer {
        padding: 0;
        background-color: var(--cinza_fundo);
        width: 100vw;
    }

    footer a, footer span {
        font-family: var(--Kanit);
    }

    footer .linha {
        align-items: center;
        display: flex;
        width: 75vw;
        justify-content: space-between;
        margin: auto;
        font-family: var(--Kanit);
    }

    footer .link-topo {
        align-items: center;
        display: flex;
        gap: 10px;
        font-size: 1em;
    }

    footer .link-topo i {
        font-size: 1.5em;
    }

    footer nav {
        display: flex;
        gap: 20px;
    }

    footer nav a {
        font-size: 1.2em;
    }

    .footer_logo {
        width: 15vw;
    }

    .footer-redes {
        display: flex;
        align-items: center;
        gap: 0.8vw;

        font-size: 1em;
    }

    .footer-redes span {
        display: flex;
        align-items: center;
        gap: 0.8vw;

        font-size: 1.5em;
    }

    .footer-redes i {
        font-size: 2vw;
    }

    footer hr {
        border: solid 1px rgb(134, 134, 134);
        margin: 10px auto;
        width: 75vw;
    }

    footer .créditos {
        text-align: center;
        font-family: var(--Poppins);
        margin: auto;
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 1rem;
    }
}
