@charset "utf-8";       

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.google q 23 2~ytrfeswaz\apis.com/css2?family=Reggae+One&display=swap');



:root {
    --vermelho01: #B10609;
    --cinza01: #0A0A0A;
    --cinza02: #444444;
    --cinza03: #f0f0f0;
    --cinza04: #dfdfdf;

    --kanjis: 'Reggae One';
    --Poppins: 'Poppins';
    --Kanit: 'Kanit';
    --Oswald: 'Oswald'
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}


/* !Configurações de posicionamento, tamanhos e paddings das caixas maiores e de divisórias: header, section, footer e hr (footer não recebe max-width pois seu fundo deve ter o tamanho da página inteira) */ 
html {
    scroll-behavior: smooth;
    width: 98vw;
    height: 98vh;
    overflow-x: hidden;
}

body {
    background-color: #000000;
    color: white;
}

section {
    margin: 30px auto;
}

section .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;

    padding-bottom: 6vw;

}

section .header h2 {
    background-image: linear-gradient(to bottom, var(--vermelho_claro), var(--vermelho_escuro));
    background-clip: text;
    color: transparent;
    font-family: var(--Oswald);
    font-size: 8vw;
    text-align: center;
}

section .header h3 {
    font-family: var(--Poppins);
    font-size: 5vw;
    font-weight: 200;
    color: white;
}

.divisora-sections {
    border: solid 1px var(--vermelho_médio);
    max-width: 75vw;
    margin: auto;
}

/* Configurações relativas à header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    position: relative;
}

header .logo {
    max-width: 15vw;
}

header .menu-itens {
    display: none;
}

header .menu-hambúrguer {
    position: fixed;
    right: 5%;
    z-index: 999;
}

header .ícone_hambúrguer {
    width: 10vw;
    height: 10vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 800;
}

.menu-hambúrguer .menu_gatilho {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;

    cursor: pointer;
    z-index: 999;
    transition: all 0.2s ease;
}

.ícone_hambúrguer .ícone_linha {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 15%;
    transition: all 0.2s ease;
    z-index: 800;
}

.menu-hambúrguer .menu_gatilho:checked ~ .ícone_linha {
    transition: all 0.2s ease;

}

.menu-hambúrguer .menu_gatilho:checked ~ .linha_01 {
    transform: rotate(45deg) scaleX(1.40); 
    transform-origin: 8% 50%;
    transition: all 0.2s ease;
}

.menu-hambúrguer .menu_gatilho:checked ~ .linha_02 { 
    opacity: 0;
}

header .menu_gatilho:checked ~ .linha_03 { 
    transform: rotate(-45deg) scaleX(1.40);
    transform-origin: 8% 50%;
}

.menu-hambúrguer .conteúdo a {
    font-family: var(--Oswald);
    font-size: 8vw;
}

.menu-hambúrguer .conteúdo {
    right: -100%;
    top: 0%;
    transition: 1s ease;
    position: fixed;
    height: 100vh;
    width: fit-content;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5vw;
}

.menu-hambúrguer .menu_gatilho:checked ~ .conteúdo {
    background-color: #b30003c2;
    backdrop-filter: blur(10px);
    right: 0%;
    z-index: 500;
    height: 100vh;

    transition: 0.5s ease;

    border-left: solid 3px #7a0000;
}

/* Configurações relativas a hero */
.hero {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    max-width: 1000px;
    margin: auto;
}

.hero img {
    max-width: 70vw;
}

.hero .textos {
    color: white;
    background-image: linear-gradient(135deg, #d60000, #530000);
    border-top: solid 1px rgb(36, 0, 0);
    border-bottom: solid 1px rgb(71, 0, 0);
    text-align: center;

    position: relative;
    width: 100vw;
    padding: 4vw 0;
}

.hero .nome-academia {
    display: flex;
    justify-content: center;
    gap: 2vw;

    font-family: var(--Kanit);
    font-size: 12vw;

    line-height: 12vw;
}

.hero .nome-academia-monoespaçado {
    font-family: var(--Poppins);
    font-weight: 300;
}

.hero .textos h2 {
    font-family: var(--Oswald);
    font-size: 6.5vw;
}

.hero .kanji {
    position: absolute;
    z-index: -1;

    font-size: 2vw;
}

.hero .kanji span {
    color: #970000;
    font-family: 'Reggae One';
    font-size: 6vw;
}

.hr_sub-hero {
    display: none;
}

/* Configurações relativas à section "sobre" */
#sobre .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    row-gap: 10vw;

    max-width: inherit;

    margin: auto;
}

#sobre .container_item {
    background-color: #0a0a0a52;
    backdrop-filter: blur(10px);
    color: white;

    border: solid 2px #c7c7c7;
    border-radius: 10px;

    width: 70%;
    padding: 2% 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}

.item_ícone {
    width: 25%;
    padding-bottom: 1%;
}

#sobre .container_item h2 {
    font-family: var(--Poppins);
    font-size: 4vw;
    text-align: center;
}

#sobre .container_item p {
    font-family: var(--Poppins);
    font-size: 3.5vw;
    font-weight: 300;
    text-align: center;
    line-height: 4.2vw;
}

/* Configurações relativas à section "história" */

#história .header {
    font-size: 2rem;
    padding-top: 40px;
    padding-bottom: 0px;
}

#história .conteúdo h4 {
    text-align: left;
    width: 100%;
    font-size: 1.5rem;
}

#história .conteúdo {
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px 20px 0px;
    border-left: solid 3px var(--vermelho_médio);
    border-radius: 10px;
}

#história article {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30px;
}

#história p {
    font-size: 1rem;
}

.conteúdo img {
    width: 100%;
    border-right: solid 3px var(--vermelho_médio);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    object-fit: cover;
    margin: 20px 0;
}

/* Configurações relativas à section modalidades (o conteúdo para desktops recebe "display: none", e uma div que se comporta como um slider toma lugar */

#modalidades .container-dt {
    display: none;
}

/* test */
#modalidades .container-mb {
    max-width: 90%;

    display: flex;
    row-gap: 4vw;
    flex-direction: column;
    margin: auto;

    overflow: hidden;
    position: relative;
}

#modalidades .item_container-mb {
    background-size: cover;

    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;

    height: fit-content;
    position: relative;
    transition: 0.5s;
}


#modalidades .item_jiujitsu {
    background-image: url("../mídia/imagens/jiujitsu_adultos.png");
    background-position: 83% 35%;
    background-size: 75%;
    background-repeat: no-repeat;
}

#modalidades .item_jiujitsukids {
    background-image: url("../mídia/imagens/jiujitsu_infantil.png");
    background-position: 96% 7%;
    background-size: 58%;
    background-repeat: no-repeat;
}

#modalidades .item_muaythai {
    background-image: url("../mídia/imagens/muaythai.png");
    background-position: 90% 7%;
    background-size: 56%;
    background-repeat: no-repeat;
}

#modalidades .item_personalfight {
    background-image: url("../mídia/imagens/personal-fight.png");
    background-position: 133% 7%;
    background-size: 75%;
    background-repeat: no-repeat;
}


.item_container-mb .conteúdo {
    display: flex;
    flex-direction: column;
    gap: 8vw;
    justify-content: space-evenly;
    height: 14vw;
    transition: 0.3s ease-in-out;
    padding: 3.5vw 4vw;
    border-radius: 5px;

    overflow: hidden;
}

.item_container-mb h3 {
    font-size: 5vw;
}

.item_container-mb p {
    font-size: 3.5vw;
}

#modalidades .modalidades_gatilho {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

#modalidades .modalidades_gatilho:checked ~ .conteúdo {
    height: 50vw;
    transition: 0.5s ease-in-out;
    background-color: #0000008c;
    backdrop-filter: blur(5px);
}

/* Relativas à section "inscrição" */
#inscrição .conteúdo {
    border-left: solid 2px var(--vermelho_claro);
    border-right: solid 2px var(--vermelho_claro);
    border-bottom: solid 2px var(--vermelho_claro);
    border-radius: 10px;
    padding-top: 4vw;
    padding-bottom: 8vw;
    display: flex;
    flex-direction: column;
    gap: 4vw;
    max-width: 95%;
    margin: auto;

    background-image: linear-gradient(to bottom, black, var(--vermelho_médio));
}

#inscrição .container_aulas{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    column-gap: 4%;
    row-gap: 20px;
    margin-bottom: 2vw;
    width: 86%;
}

.container_aulas .aulas_item {
    width: 45%;
}

.container_aulas h3 {
    text-align: start;
    padding-left: 5%;
    font-family: var(--Poppins);
    font-size: 5vw;
}

.container_aulas h4 {
    color: var(--vermelho_claro);
    font-family: var(--Poppins);
    font-weight: 500;
    font-size: 4vw;
}

.container_aulas ul {
    list-style-type: none;
}

.container_aulas li {
    font-family: var(--Poppins);
    font-size: 3vw;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 1vw;
}

form > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

form input {
    color: #000000;
}

form option {
    color: #000000;
    cursor: pointer;
}
form select {
    cursor: pointer;
}

form .dias-pratica {
    display: flex;
    flex-direction: column;
    padding-top: 2vw;
}

.dias-pratica .container-dias {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 4vw;
}

.container-dias label {
    font-size: 3.5vw;
}

.container-dias input{
    all: unset;

    width: 8vw;
    height: 8vw;
    background-color: white;
    border-radius: 5px;
    border: solid 1px rgb(117, 0, 0);
    position: relative;
    cursor: pointer;
}

.container-dias input:checked {
    color: white;
    content: "X";
    background-color: rgb(36, 0, 0);
}

.container-dias input:checked::after {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "✓";
    font-size: 6vw;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

form label {
    font-family: var(--Poppins);
    font-size: 4vw;
}

form input, select {
    border: solid 1px rgb(100, 1, 1);
    border-radius: 5px;
    width: 50%;
    text-align: center;
    font-size: 3vw;
}

form select {
    font-size: 4vw;
    color: #000000;
}

form button {
    margin-top: 4vw;
    background-color: #360000;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 1vw 4vw;
    font-size: 6vw;
    font-family: var(--Oswald);
    transition: 0.2s;
}

form button:hover {
    background-color: #ffffff;
    color: #b60000;
    transition: 0.2s;
    cursor: pointer;
}

.formulário img {
    display: none;
}

/* Configurações relativas ao footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 1vw 0px;
}

footer a, footer span {
    font-family: var(--Kanit);
}

footer .linha {
    align-items: center;
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin: auto;
    font-family: var(--Kanit);
}

footer .link-topo {
    align-items: center;
    display: flex;
    gap: 1vw;
}

footer .link-topo i {
    font-size: 5vw;
}

footer nav {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.footer_logo {
    width: 40vw;
}

.footer-redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8vw;

    font-size: 1.5vw;
}

.footer-redes span {
    color: white;
    font-size: 3vw;
}

.container_footer-redes {
    display: flex;
    column-gap: 2.2vw;
}

.footer-redes .icone-instagram {
    background-color: #df0004;
    background-clip: text;
    color: transparent;
    transition: 0.2s;
}

.footer-redes .icone-instagram:hover {
    background-color: white;
    background-clip: text;
    transition: 0.2s;
}

.footer-redes .icone-whatsapp {
    background-color: #df0004;
    background-clip: text;
    color: transparent;
    transition: 0.2s;
}

.footer-redes .icone-whatsapp:hover {
    background-color: white;
    background-clip: text;
    transition: 0.2s;
}

.footer-redes .icone-gympass {
    background-color: #df0004;
    background-clip: text;
    color: transparent;
    transition: 0.2s;
}

.footer-redes .icone-gympass:hover {
    background-color: white;
    background-clip: text;
    transition: 0.2s;
}

.footer-redes i {
    font-size: 6vw;
}

footer hr {
    border: solid 1px rgb(134, 134, 134);
    margin: 1.5vw auto;
    width: 95%;
}

footer .créditos {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: var(--Poppins);
    margin: auto;
    margin-bottom: 1vw;
    font-weight: 400;
}
